.alert{
	position: absolute;
	
	&__text{
		box-shadow: 20px 20px 25px #0000001A;
		border: 1px solid #999799;
		border-radius: 5px;

		width: 300px;
		height: 100px;
		margin: 50%;
    background-color: rgb(235, 217, 217);
    position: absolute;
    z-index: 2000;
		
		h1{
			margin-top: 5%;
			text-align: center;
		}
		& button {
			margin: 0 40%;
		}
	}
}