.background {
	display: flex;
	position: fixed;


	&__footer {
		width: 100vw;
    top: 75%;
    padding-bottom: 100rem;
    background-color: red;
    position: fixed;
	}

	&__banner {
		width: 100vw;
		height: 100vh;
		
		@media only screen and (min-device-width : 320px) 
		and (max-device-width : 480px) {
			width: 100vw;
			height: 100vh;
		}
	}	
	&__logo {
		margin-top: 25px;

		@media screen and (max-width: 400px) {
			margin: 40px 30px;
		}
	}
}