.background {
	width: 100vw;
	height: 100vh;
	display: flex;
	

	&__footer {
		width: 100%;
    top: 75%;
    padding-bottom: 100rem;
    background-color: red;
    position: fixed;
    display: flex;
	}

	&__banner {
		width: 100vw;
		height: 100vh;
		position: relative;
	}	
	&__logo {
		margin-top: 25px;
		width: 30vw;
	}
}