* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
	padding: 0;
	background-color: #ebf2f5;
	height: 100%;
}

a {
  color: inherit;
} 

#root {
  display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
  width: 100%;
	margin: 0 auto;
	justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 300px;
  }
}

button {
	padding: 8px 16px;
	margin: 10% 0 0 70%;
	height: auto;
	background: #b21010 0% 0% no-repeat padding-box;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	cursor: pointer;
	border: 1px solid #12DB89;
}

@import './normalize.scss';
@import './reset.scss';